<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC

"-//Hibernate/Hibernate Configuration DTD 3.0//EN"

"http://www.jboss.org/dtd/hibernate/hibernate-configuration-3.0.dtd ">

<hibernate-configuration>

<session-factory>

        <!-- 显示实际操作数据库时的SQL -->
        <property name="show_sql">true</property>
        <!-- SQL方言，这边设定的是MySQL -->
        <property name="dialect">net.sf.hibernate.dialect.MySQLDialect</property>
        <!--驱动程序，在后续的章节中将讲述mysql、sqlserver和Oracle数据库的配置 -->
        <property name="connection.driver_class">……</property>
        <!-- JDBC URL -->
        <property name="connection.url">……</property>
        <!-- 数据库用户名 -->
        <property name="connection.username">user</property>
        <!-- 数据库密码 -->
        <property name="connection.password">pass</property>
        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">1800</property>
        <property name="c3p0.max_statements">50</property>
        <!-- 对象与数据库表格映像文件 -->
       <mapping resource="com/amigo/pojo/User.hbm.xml"/>
       <mapping resource="com/amigo/pojo/Org.hbm.xml"/>

    </session-factory>

</hibernate-configuration>